.expense-filters-js {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    margin-bottom: 10px;
}

.filter-item {
    background: #f1f1f1;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s
}

.filter-item.active, .filter-item:hover {
    background: #e4ff97;
}