.adding-row {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 100px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.adding-row input {
    padding: 15px 20px;
    border-radius: 50px;
    position: relative;

    transition: all 0.3s;
}

.adding-row .separator {
    height: calc(100% - 25px);
    margin: 5px;
    width: 1px;

    background: rgba(0, 0, 0, 0.15);
}

.adding-row input:hover {
    background: #ebebeb;
}

.adding-row input:focus {
    background: white !important;
}

.adding-row button {
    border-radius: 50px;
    height: 28px;
    width: 28px;
    background: #ff385c;
    cursor: pointer;

    margin: 0 10px;

    svg {
        height: 14px;
        width: 14px;
    }
}

.adding-row button:hover {
    background: linear-gradient(90deg, #ff65a8, #df528f);
}

@media (width < 768px) {
    .adding-row {
        flex-direction: column;
        background: none;
        border-radius: 0;
        box-shadow: none;

        height: 100%;
        width: 100%;
        gap: 10px;
    }

    .adding-row input {
        width: 100%;
    }

    .adding-row .separator {
        display: none;
    }
}
