.edit-expense-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background: white;
    border-radius: 10px;

    width: 500px;
    max-width: 100%;

    padding: 20px 30px;
}

.edit-expense-form input {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;

    transition: box-shadow 0.3s;
}

.edit-expense-form input:focus {
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.edit-expense-form .buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.edit-expense-form .buttons button {
    flex-grow: 1;
    padding: 10px 5px;
    border-radius: 10px;
}

.submit-expense-form {
    background: var(--success);
    color: white;
}

.edit-expense-form .buttons button.close-modal-js {
    background: var(--danger);
    color: white;
}
